
<div [@fade]>
  <div fxFlex="30%" fxFlex.xs="50%">
    <div class="sticky-filter">
      <product-filter [currentCategory]="currentCategory" [cart-items]="items"></product-filter>
    </div>
  </div>

  <div fxFlex="5%"></div>

  <div fxFlex="65%" fxFlex.xs="45%">
    <div class="row" [@slideRight]="filteredProducts.length">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
          <product-card [product]="p" [cart-items]="items"></product-card> 
        </div>
      </ng-container>
    </div>
  </div>
</div>
