

<div *ngIf="product as p" class="card">
  <div *ngIf="p.title">
    <img class="card-img-top" src="{{p.imageUrl}}" alt="{{p.title}}">
    <div class="card-body">
      <h2 class="card-title">{{p.title}}</h2>
      <p class="card-text">{{ p.price | currency: '€': true }}</p>
    </div>
    <div>
        <div
            *ngIf="showActions"
            class="card-footer">

            <ng-container *ngIf="quantity; then quantitySelector else addButton"></ng-container>

            <ng-template #quantitySelector>
                <div class="quantity-selector d-flex justify-content-between">
                  <button mat-button matSuffix (click)="addToCart()">
                    <mat-icon>add</mat-icon>
                  </button>
                  {{quantity}}
                  <button mat-button matSuffix (click)="removeFromCart()">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </ng-template>
              
            
            <ng-template #addButton>
                <button
                    class="btn btn-primary flex-grow-1"
                    (click)="addToCart()">
                    Add to cart
                </button> 
            </ng-template>
        </div>
    </div>
  </div>
</div>


