.btn-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.btn-container > button {
  margin-left: auto;
  margin-right: auto;
}

.prefix {
  padding-left: 8px; /* Ändern Sie den Wert nach Bedarf */
}


