<popup>
    <ng-container class="header">{{title}}</ng-container>
    <ng-container class="body">{{message}}</ng-container>
    <ng-container class="footer">        
        
        <div class="btn-container-popup">   
            <button
                class="btn btn-sm"
                (click)="closeDialog()"
                mat-raised-button
                color="basic"
                matTooltip="Cancel">            
                <mat-icon>cancel</mat-icon>
                Cancel
            </button>   
                 
            <button
                class="btn btn-sm" 
                (click)="confirm()" 
                mat-raised-button 
                style="background-color: var(--primary-color)"
                matTooltip="Send order">
                <mat-icon>send</mat-icon>
                Send
            </button>
        </div>

    </ng-container>
</popup>