<div class="row" *ngIf="item as i">
      <div    
         fxFlex= "30%"
         [fxFlex.xs]="quantityEditable ? '25%' : '35%'"   
         [fxFlex.lg]="quantityEditable ? '20%' : '25%'">
         <div
            class="bg-image hover-overlay hover-zoom ripple rounded"
            data-mdb-ripple-color="light">
            <img
               src="{{i.product.imageUrl}}"
               class="card-img" 
               style="max-height: 100px; max-width: 150px;"
               alt="{{i.product.title}}"/>
         </div>   
      </div>

   <div   
      fxFlex="30%"
      [fxFlex.xs]="quantityEditable ? '25%' : '35%'"
      [fxFlex.md]="quantityEditable ? '30%' : '35%'"
      [fxFlex.lg]="quantityEditable ? '30%' : '25%'">
      <p><strong>{{i.product.title}}</strong></p>
      <p>Price: {{i.product.price | currency: '€': true }}</p>
   </div>

   <div
      fxFlex="40%"
      [fxFlex.xs]="quantityEditable ? '50%' : '30%'"
      [fxFlex.md]="quantityEditable ? '40%' : '35%'"
      fxFlex.lg="50%">
      <div *ngIf="quantityEditable">
         <div class="d-flex mb-4">
            <product-quantity
               [product]="i.product"
               [quantity]="i.quantity"
               (animationTriggered)="triggerLightUp($event)"
               [@lightUp]="animationState"
               style="width: 100%; min-height: 30px;">
            </product-quantity>
         </div>
   
         <p class="text-start text-md-center">
            <strong>Sum: {{priceSum | currency: '€': true }}</strong>
         </p>
      </div>

      <div *ngIf="!quantityEditable">
                 
         <p
            *ngIf="!quantityEditable"
            class="text-start text-md-center">
            <span>Items: {{item.quantity}}</span>
         </p>
   
         <p class="text-start text-md-center">
            <strong>Sum: {{priceSum | currency: '€': true }}</strong>
         </p>
         
      </div>
   </div>
</div>











