<div class="list-group product-filter">
  <a
    routerLink="/"
    class="list-group-item list-group-item-action"
    [class.active]="!currentCategory"
    style="font-size: 16px;">
    All Categories
  </a>
  <a
    class="list-group-item list-group-item-action"
    [class.active]="currentCategory === c.id"
    *ngFor="let c of categories"
    routerLink="/"
    [queryParams]="{ category: c.id}"    
    style="font-size: 16px;"
    matTooltip="Show only {{c.name}}">
    {{c.name}}
  </a>  
</div>
<cart-button [cart-items]="items"></cart-button>
