


<div class="row" *ngIf="currentProduct as p">
	

	<div class="col-md-6">
		<form [formGroup]="productForm" (ngSubmit)="save(p)">
			<div class="form-row align-items-center">
				<div class="col-auto">
					<label class="sr-only" for="inlineFormInput">Title</label>
					<input
						#title
						formControlName="title" 
						[(ngModel)]="p.title"
						type="text" 
						class="form-control mb-2" 
						id="inlineFormInput" 
						placeholder="Green Tea"/>

					<div
						*ngIf="fc['title'].invalid && fc['title'].touched"
						class="alert alert-danger">
						<div *ngIf="fc['title'].errors?.['required']">
							Title is required.
						</div>
					</div>
				</div>

				<div class="col-auto">
					<label class="sr-only" for="inlineFormInputGroup">Price</label>
					<div class="input-group mb-2">
						<div class="input-group-prepend">
							<div class="input-group-text">€</div>
						</div>
						<input
							#price
							formControlName="price"
							[(ngModel)]="p.price"
							type="text"
							class="form-control mb-2"
							id="inlineFormInputGroup"
							placeholder="Price"
							aria-describedby="inlineFormInputGroupHelp"
							placeholder="4.20€"
							required [min]="0"/>
					</div>

					<div
						*ngIf="fc['price'].invalid && fc['price'].touched"
						class="alert alert-danger">
						<div *ngIf="fc['price'].errors?.['required']">
							Price is required.
						</div>

						<div *ngIf="fc['price'].errors?.['pattern']">
							Price should be 0 or higher.
						</div>
					</div>
				</div>

				<div class="col-auto">
					<label class="sr-only" for="inlineFormInput">Category</label>
					<select
						#category
						[(ngModel)]="p.category"
						formControlName="category"							
						class="form-control"
						required
						formControlName="category"
						id="inlineFormCustomSelect">
						<option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
					</select>

			

					<div
						*ngIf="fc['category'].invalid && fc['category'].touched"
						class="alert alert-danger">
						<div *ngIf="fc['category'].errors?.['required']">
							Category is required.
						</div>
					</div>
				</div>

				<div class="col-auto">
					<label
						class="sr-only"
						for="inlineFormInput">
						Image URL
					</label>
					<input
						#imageUrl						
						[(ngModel)]="p.imageUrl"
						formControlName="imageUrl"
						type="text"
						class="form-control mb-2"
						id="inlineFormInput"
						placeholder="https://www.example.com/api/example.com"
						aria-describedby="inlineFormInputHelp"
						/>

					<div
						*ngIf="fc['imageUrl'].invalid && fc['imageUrl'].touched"
						class="alert alert-danger">
						<div *ngIf="fc['imageUrl'].errors?.['required']">
							Image URL is required.
						</div>
						<div *ngIf="fc['imageUrl'].errors?.['imageUrl']">
							Please enter valid URL.
						</div>
					</div>
				</div>

				<!-- <div class="col-auto"> -->
				<div class="col-md-6">
				
				
					<!-- Icon für "Änderungen Speichern" - Vorschlag 1 -->
					<button mat-icon-button color="primary" matTooltip="Save">
						<mat-icon>done</mat-icon>
					</button>
					
					<button mat-icon-button (click)="delete(p.id)" matTooltip="Delete">
						<mat-icon
							style="color: #B71C1C">
							delete
						</mat-icon>
					</button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-3" *ngIf="p.title">
		<product-card [product]="p" [show-actions]="false"></product-card>

	</div>
</div>
