
  <mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
            
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput placeholder="Filter" (keyup)="filter($event)">
        </mat-form-field>

        <button
            mat-icon-button
            color="primary"
            routerLink="/admin/products/new"
            matTooltip="Add">
                <mat-icon style="color: green">add</mat-icon>
        </button>
        

        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="title">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let product">{{product.title}}</td>
            </ng-container>   
        
            <ng-container matColumnDef="price">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let product">{{product.price}}</td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let product">
                   
                                    
                    <!-- Mat-Icon-Button -->
                    <button mat-icon-button color="primary" (click)="edit(product.id)" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button (click)="delete(product.id)" matTooltip="Delete">
                        <mat-icon
                            style="color: #B71C1C">
                            delete
                        </mat-icon>
                    </button>
                    
                    

                      
                </td>
              </ng-container>
          

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        
        </table>
        <span style="font-size: 1px; opacity: 0.1;">.</span>

        
    </mat-card-content>

    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>

  </mat-card>
