
<div class="row"> 

  <div class="col-3">

    <div class="position-sticky top-0">
      <product-filter [currentCategory]="currentCategory"></product-filter>
    </div>  </div>

  <div class="col">

    <div class="row">    
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col">
          <product-card [product]="p" style="height: 500px"></product-card> 
        </div>
        <div *ngIf="(i + 1) % 2 === 0 && filteredProducts.length !== i-2 " class="w-100"></div>
      </ng-container>
    </div>
  </div>


</div>  


